.about-section {
    /*width: 100%*/
}   

.about-image-container {
    background-color: red;
    width: 40%;
}

.about-image-container img{
    width: 60%;

}

.about-description-container {
    background-color: blue;
    width: 60%;
}